header {
  background-color: #ffffff;
  color: black;
  padding: 15px 30px;
  position: fixed;   /* Fija el menú arriba */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border: 2px solid #cedddd;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #f7f9fc;         
  color: #000000;                         
  margin: 0;                            
  padding: 0;                          
}

.navbar {
  width:100%;
  max-width: 1200px;    /* ancho máximo del menú */
  margin: 0 auto; /*Significa que 0 arriba y abajo y automático derecha e izquierda*/
  display: flex;
  justify-content: space-between; /* Extremos fijos */
  align-items: center;
}

.nav-left span {
  font-weight: bold;
  color: black;
}

.nav-links {
  list-style: none; /*elimina las viñetas o números que aparecen por defecto en una lista HTML.*/
  display: flex;
  gap: 25px; /*significa que habrá 25 píxeles de separación entre cada elemento dentro de .nav-links.*/
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4; /* Cambia de color al pasar el mouse */
}

.nav-right a {
  background: #283566;
  text-decoration: none;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}

main {
  margin-top: 100px;
  margin-left: 23px; 
  padding: 20px;
}

h1{
  font-weight: bold;
  font-size: 53px; 
  margin: 20px 0px;
}

section {
  margin: 0px 2px 8px 2px;             /* margen: arriba 4px, derecha 2px, abajo 8px, izquierda 2px */
  padding: 0.8% 3%;                  /* separación vertical 0.8%, horizontal 3% */
  margin-bottom: 1.2rem;               /* margen inferior = 1.2 veces el tamaño de la raíz */
}

/*SECCIÓN SOBRE MÍ*/
.contenedor {
  display: flex; /*Esto convierte el contenedor en un contenedor flexible (Flexbox). Todos los hijos directos (.photos y .description) se alinean horizontalmente por defecto.*/
  align-items: flex-start;   /* alinea arriba | Alineación vertical */
  justify-content: space-between; /* Extremos fijos */
  /*
  significa que los elementos hijos (por ejemplo, .photos y .description) se colocan:
    Uno pegado a la izquierda.
    El otro pegado a la derecha.
    Y el espacio sobrante se reparte entre ellos, no a los lados.
  */
  gap: 50px; /* espacio entre foto y descripción | Añade espacio fijo de 50px entre los hijos, más fácil que usar margin en cada div. */
  flex-wrap: wrap; /* por si en móvil necesita ajustarse */
  margin-top: 15px;
}

.photos {
  display: flex;  
  justify-content: center;
  width: 45%;
  margin: auto auto;
  
}

.photos img {
  width: 80%;              /* tamaño de la imagen */
  padding: 0 auto;
  height: auto;              /* mantiene proporción */
  border-radius: 12px;       /* bordes redondeados */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.description {
  flex: 1;                   /* ocupa el resto del espacio */
  min-width: 280px;          /* asegura que no se haga demasiado estrecho */
}

.description table {
  width: 100%;
  margin-top: 25px;
}
.title-table {
  font-weight: bold;
  font-size: 30px;
  color: #283566;
}

td{
    padding: 0 20px;
}

p{
  font-size: 20px;
}

/* SECTION PROYECTOS*/
.project{
  padding:0 10px;
  display:flex; 
  flex:1; /*Dentro del contenedor el 40% la descripcion y con el 1 coge lo que queda para colocar los project*/
  gap: 20px; 
  justify-content: space-between;
}

.project article{
    font-size:50px;
}

.contenedor2{
    width:30%;
}

.total-image{
  display:fex;
  padding:1% auto;
}

.total-image img{
  width: 100%;
  border-radius: 12px;       /* bordes redondeados */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1% auto;

}

article{
    padding: 0 3%;
}

#hashtag {
  font-family:'Courier New', Courier, monospace;
  display: inline-block; 
  font-size:26px;
  text-align:center;
  background: #ffa012;
  border: #ffa012;
  padding:10px 5px;
  border-radius:8px;
  font-weight: bold;

}
/* FORMACION*/

.formacion{
  padding:0 10px;
  flex:1; /*Dentro del contenedor el 45% la imagen con el 1 coge lo que queda para colocar los project*/
}

.caja {
  border-left: 4px solid #3498db; /* grosor, tipo y color del borde */
  padding: 15px 30px; /* para que el texto no toque el borde */
}
/*CONTACTO */

/* Formulario */

.cyfcontenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.contacto-form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contacto-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.contacto-form button {
  padding: 12px 25px;
  background-color: #283566;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.contacto-form button:hover {
  background-color: #2573a6;
}
/*Testimonio*/
.ctestimonio{
  gap:15px;
  margin-top: 20px;
  border-radius: 12px;
  width:40%;
  background-color: #c0e6ff;
}

/* Mapa */
.contacto-mapa {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.redes-contenedor {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 5%; /* espacio entre los cuadrados */
  margin-top: 20px;
  
}

.red-social {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding:15px 0;
}

.red-social p {
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.red-social a{
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s;
}

/*PIE DE PAGINA*/
footer{
    background-color:#000000;
    padding:0.8% 3%;
    color:#ffffff;
}

/* ---------- ADAPTACIÓN A MÓVILES ---------- */
@media (max-width: 768px) {

  .navbar{
    flex-direction: column;
  }

  .nav-links{
    flex-direction: column;
    padding: 10px;
  }

  p{
    text-align: center;
  }
  #resumen {
    padding: 30px 20px;
  }

  #resumen .contenedor {
    flex-direction: column; 
    /*flex-direction: column; → cambia la dirección de los hijos del contenedor flex:
    Normalmente está en fila (row) → hijos uno al lado del otro
    Ahora pasa a columna → hijos se apilan uno sobre otro
    Perfecto para móviles, donde el ancho es limitado.*/
    align-items: center; /*centra los hijos horizontalmente dentro del contenedor.*/
    text-align: center;
  }
  .description {
    text-align: center;
  }

  .redes-contenedor {
    flex-direction: column;
    gap: 20px;
  }
}
